/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("ust.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}

.content {
  background-color: aliceblue;
  border-radius: 10px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}

/*HomePage*/
.title {
  text-align: center;
  color: black;
}

/*Start Button*/
.btn-success {
  font-size: 25px;
  width: 100px;
  height: 50px;
}

/* Game Structure */
.game-section {
  text-align: center;
}

.game--title {
  font-size: 65px;
  color: #f5af0d;
  margin: 10px auto;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
  background-color: #550404;
  color: #ffe609;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px 2px #ecd7ba;
  border: 2px solid #ecd7ba;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.game--status {
  font-size: 50px;
  color: #f5af0d;
  margin: 20px auto;
}

.btn-secondary {
  color: black;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

.btn-danger {
  color: black;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

.btn-primary {
  color: black;
  width: 70%;
  height: 50px;
  font-size: 25px;
}

.hide {
  display: none;
}

#about {
  text-align: center;
  align-items: center;
}

#form-signup {
  text-align: center;
  align-items: center;
}

/*Login Page*/

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


#btnSignup{
  font-size: 20px;
}

#btnbackLogin{
  font-size: 20px;
}


